#container{
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(201, 87%, 49%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(201, 87%, 59%);
}
button:active{
    background-color: hsl(201, 87%, 69%);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
    font-size: 0.6em;
}
#diceImages img{
    width : 150px;
    margin: 10px;
}
    